<!-- app/views/github/repositories.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Repositorios de GitHub</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div class="container">
    <h1>Repositorios de GitHub</h1>

    <% if @repositories %>
      <ul class="repository-list">
        <% @repositories.each do |repo| %>
          <li class="repository-item">
            <span class="repository-name"><%= repo['name'] %></span>
            <%= link_to 'Descargar', download_repository_path(username: 'Nelson-else', repo_name: repo['name']), method: :get, class: 'download-link' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="error-message"><%= @error_message %></p>
    <% end %>
  </div>

</body>
</html>
